on:
  push:
    branches:
      - master
  pull_request:

name: build

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [stable, nightly]
        features: [default, integration-test]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-${{ matrix.rust }}-${{ matrix.features }}-${{ hashFiles('**/Cargo.lock') }}

      - name: Set default toolchain
        run: rustup default ${{ matrix.rust }}

      - name: Set profile
        run: rustup set profile minimal

      - name: Update toolchain
        run: rustup update

      - name: Build for OS
        run: cargo build --features=${{ matrix.features }}
