on:
  push:
    branches:
      - master
  pull_request:

name: lint

jobs:
  fmt:
    name: rust fmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set default toolchain
        run: rustup override set satble

      - name: Set profile
        run: rustup set profile minimal

      - name: Add rustfmt
        run: rustup component add rustfmt

      - name: Add clippy
        run: rustup component add clippy

      - name: Update toolchain
        run: rustup update

      - name: Check fmt
        run: cargo fmt --all -- --check

      - name: Clippy (main codebase with all features)
        run: cargo clippy --all-features --lib --bins --tests -- -D warnings

      - name: Clippy (examples with default features only)
        run: cargo clippy --examples -- -D warnings

      # - name: cargo install cargo-hack
      #   uses: taiki-e/install-action@cargo-hack
        
      # - name: cargo hack
      #   run: cargo hack --feature-powerset check
        
      - name: Check docs
        env:
          RUSTDOCFLAGS: "-D warnings"
        run: cargo doc --all-features --document-private-items --no-deps