on:
  push:
    branches:
      - master
      - test-branch
  pull_request:

name: test

jobs:
  test_with_codecov:
    name: Run tests with coverage reporting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install cargo-nextest
        run: cargo install cargo-nextest --locked

      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov --locked

      - name: Add llvm-tools component
        run: rustup component add llvm-tools-preview --toolchain stable

      - name: Run cargo-llvm-cov
        run: |
          cargo llvm-cov nextest --lib --bins --tests --fail-fast --features integration-test
          cargo llvm-cov nextest --examples --fail-fast
          cargo llvm-cov report --cobertura --output-path ./coverage/reports/cobertura.xml
        
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/reports/cobertura.xml
