on:
  push:
    branches:
      - master
  pull_request:

name: test

jobs:
  test_with_codecov:
    name: Run tests with coverage reporting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install protobuf compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Install cargo-nextest
        uses: taiki-e/install-action@nextest

      - name: Run cargo-llvm-cov
        run: |
          mkdir -p ./coverage/reports/
          cargo llvm-cov nextest --lib --bins --tests --fail-fast --features integration-test --no-capture
          cargo llvm-cov report --cobertura --output-path ./coverage/reports/cobertura.xml
        
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/reports/cobertura.xml
